<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>900957613989-f7gdbsavjl7hhf6gqgqoa9ehi5s22680.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900957613989-f7gdbsavjl7hhf6gqgqoa9ehi5s22680</string>
	<key>API_KEY</key>
	<string>AIzaSyCGAJKfyBYH7t3i05vh9t1e5_vddBXZ1zU</string>
	<key>GCM_SENDER_ID</key>
	<string>900957613989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayeentaxis.driver</string>
	<key>PROJECT_ID</key>
	<string>jayeentaxi-driver-189414</string>
	<key>STORAGE_BUCKET</key>
	<string>jayeentaxi-driver-189414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900957613989:ios:d2790bd389b584d8</string>
	<key>DATABASE_URL</key>
	<string>https://jayeentaxi-driver-189414.firebaseio.com</string>
</dict>
</plist>